* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
    background-image: url("https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    font-family: Calibri, sans-serif;
    font-size: 18px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    gap: 0.4em;
    padding: 5px;

}

.grid-container>div {
    background-color: white;
    opacity: 0.7;
    /* border: solid 1px black;   useful for see the grid boxes */
    overflow: hidden;


}

.grid-container>div:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: 0.4s ease-in-out;
}

.grid-container>div>a>img {
    -o-object-fit: cover;
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 3px;


}

.header {
    text-align: center;
    padding: 5vh;
    color: white;
    font-size: 30px;
}



.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.row-2 {
    grid-row: span 2;
}

.row-3 {
    grid-row: span 3;
}

.row-4 {
    grid-row: span 4;
}

.row-5 {
    grid-row: span 5;
}


/* =======   Specific Elements ======== */

.codelist * {
    text-align: center;
    padding: 1px;
}

.commandslist * {
    text-align: center;
    padding: 5px;
}