@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body {
    font-family: "Montserrat", sans-serif;
}

section#codelist {
    max-width: 1400px;
    margin: 0 auto;
}

.logo{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

#contents a{
    text-decoration: none;
    color: black;
    font-weight: 700;

}

#contents a:hover{
text-decoration: underline;
margin-left: 10px;

}

table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word
}

table * {
    border: solid black 2px;
    margin: 0;
    border-collapse: collapse;
    padding: 0.5em;
    margin: 0 auto;
}

table tr:nth-child(odd){
background: #efefef;
}

th {
    background: purple;
    color: white;
}

td,
tr {
    border: solid black 2px;
    border-collapse: collapse;

}

tr td:first-child {
    font-weight: 700;
    font-size: 1em;
}

tr td:nth-child(2) {
    width: 60%;
    color: grey;
}